import { {{name}}SimpleForm } from 'domains/{{name}}/components'

const Create = () => {
  return (
    <div>
      <h1>Create {{name}}</h1>
      <{{name}}SimpleForm />
    </div>
  )
}

export default Create